<h2 mat-dialog-title>Технологія LoRaWAN</h2>
<mat-dialog-content class="mat-typography">
  <div class="info-dialog">
    <div>
      <h3>Специфікація</h3>
      <p>LoRaWAN є широкосмуговий мережевий протокол малої потужності (LPWA), призначений для бездротового
        підключення «речей», до регіональних, національних або глобальних мереж і орієнтований на основні вимоги до
        Інтернету, такі як двонаправлена зв'язок, наскрізна безпеку, мобільність і послуги локалізації.</p>
    </div>
    <img class="info-dialog__image-lorawan"
         [src]="'../../../assets/images/lorawan.jpg'"
         alt="">
  </div>
  <p>Мережева архітектура LoRaWAN розгортається в топології «зірка - зірка», в якій шлюзи ретранслюють повідомлення
    між кінцевими пристроями і центральним сервером. Шлюзи підключаються до мережевого сервера через стандартні
    IP-з'єднання і працюють як прозорий міст, просто перетворюючи RF-пакети в IP-пакети і навпаки. Бездротовий зв'язок
    використовує переваги Long Range (Діапазон Далекого Дії) для фізичного рівня LoRa, дозволяючи одноточечное з'єднання
    між кінцевим пристроєм і одним або декількома шлюзами. Всі режими здатні до двобічної зв'язку, і є підтримка груп
    многоадресной адресації для ефективного використання спектра під час таких завдань, як модернізація прошивки по
    повітрю (FOTA) або інші повідомлення масового поширення.</p>

  <p>Характеристики визначають параметри фізичного рівня (LoRaWAN) пристрої для інфраструктури (LoRa®) і, таким чином,
    забезпечують безшовну интероперабельность між виробниками, про що свідчить програма сертифікації.</p>

  <p>Хоча специфікація визначає технічну реалізацію, вона не визначає будь-яку комерційну модель або тип розгортання
    (публічний, колективний, приватний, корпоративний), і тому пропонує галузі свободу інновацій та диференціації того,
    як вона використовується.</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Закрити</button>
</mat-dialog-actions>
