.content__map, .content__total-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}

.content__total-info {
  height: 100px;
  width: 100px;
}

.content__map {
  height: 300px;
  width: 300px;
}
